*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: "FuturaHEMAProOT","Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}
.content-container{
	width: 100%;
	height: auto;
}
.content-container .top{
	max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;
    overflow: hidden;
    margin-top: 20px;
}
.content-container .top .left{
	display: inline-block;
	float: left;
}
.content-container .top .left .nav-link{
	list-style-type: none;

}
.content-container .top .left .nav-link li{
	margin-bottom: 10px;
	margin-left: 30px;
}
.content-container .top .left .nav-link li span{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: red;
	border-radius: 100%;
	margin-right: 25px;
}
.content-container .top .left .nav-link li:nth-of-type(1) span{
	background: #2e2e2e;
}
.content-container .top .left .nav-link li:nth-of-type(2) span{
	background: #5fc5dc;
}
.content-container .top .left .nav-link a{
	text-decoration: none;
	color: #353535;
	font-size: 18px;
	line-height: 25px;
}
.content-container .top .left .nav-link a:hover{
	color: #5dc5e3;
}
.content-container .top .left .button{
	width: 241px;
	height: 40px;
	margin-left: 30px;
	margin-top: 20px;
}
.content-container .top .left .button input{
    width: 100%;
    height: 40px;
    border: 0;
    outline: none;
    background: #f7b34d;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #f7b34d;
}
.content-container .top .content-right{
    float: right;
    width: 800px;
}
.content-container .top .content-right .cont-top{
	background: #b7e0f6;
	margin-bottom: 30px;
	
}
.content-container .top .content-right .cont-text {
    width: 245px;
    margin-left: 65px;
    margin-top: 49px;
    float: left;
}
.content-container .top .content-right .cont-text p:nth-of-type(1) {
    font-size: 35px;
    color: #ffffff;
}
.content-container .top .content-right .cont-text p:nth-of-type(2) {
    font-size: 18px;
    color: #030101;
    line-height: 24px;
}
.content-container .top .content-right .cont-top img{
	margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
}
.content-container .top .content-right .cont-bottom{
    overflow: hidden;
    border-top: 1px solid #e4e4e4;
    padding-top: 20px;
    margin-bottom: 20px;
}
.content-container .top .content-right .cont-bottom .form-list{
	/* width: 33%; */
	float: left;
}
.content-container .top .content-right .cont-bottom form{
	overflow: hidden;
}
.content-container .top .content-right .cont-bottom .form-list select{
	width:197px;
	height: 25px;
	border:1px solid #e4e4e4 ;
	margin-right: 15px;
}
.content-container .top .content-right .cont-bottom .form-list label{
	margin-bottom: 10px;
	display: block;
}
.content-container .top .content-right .cont-bottom .form-list:nth-of-type(3){
	margin-top: 18px;
}
.content-container .top .content-right .cont-bottom .form-list:nth-of-type(3) input{
	height: 25px;
	border:1px solid #e4e4e4 ;
	outline: none;
}
.content-container .top .content-right .cont-bottom .form-list:nth-of-type(3) input:nth-of-type(1){
	width: 286px;
	padding-left: 23px;
}
.content-container .top .content-right .cont-bottom .form-list:nth-of-type(3) input:nth-of-type(2){
	background:#61c5df ;
	color: #ffffff;
	padding:0px 10px;
	cursor: pointer;
}
.content-container .top .content-right .cont-bottom .locaties{
	
}
.content-container .top .content-right .cont-bottom .locaties .locaties-loop{
	margin-top:20px;
	
}
.content-container .top .content-right .cont-bottom .locaties .locaties-loop li{
	overflow: hidden;
	margin-bottom: 20px;
	float: left;
	/*display: flex;
	justify-content: space-between;*/
    /*width: 50%;*/
}
.content-container .top .content-right .cont-bottom .locaties .locaties-loop li img{
	width: 150px;
	float: left;
	margin-right: 15px;
}
.content-container .top .content-right .cont-bottom .locaties .locaties-loop li .text{
	display: inline-block;
    width: 234px;
}
.content-container .top .content-right .cont-bottom .locaties .locaties-loop li .text h3{
	color: #1375c8;
	font-size:14px ;
	line-height: 20px;
}
.content-container .top .content-right .cont-bottom .locaties .locaties-loop li .text span{
	color: #696767;
	font-size:14px ;
	display: block;
	line-height: 24px;
}
.content-container .top .content-right .cont-bottom .locaties .locaties-loop li .text p{
	color: #453537;
	font-size:14px ;
	display: block;
	line-height: 18px;
}