*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
    font-family: "FuturaHEMAProOT","Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}
.content-container{
	width: 100%;
	height: auto;
}
.content-container .top{
	max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;
    overflow: hidden;
    margin-top: 20px;
}
.content-container .top .left{
	display: inline-block;
	float: left;
}
.content-container .top .left .nav-link{
	list-style-type: none;

}
.content-container .top .left .nav-link li{
	margin-bottom: 10px;
	margin-left: 30px;
}
.content-container .top .left .nav-link li span{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: red;
	border-radius: 100%;
	margin-right: 25px;
}
.content-container .top .left .nav-link li:nth-of-type(1) span{
	background: #2e2e2e;
}
.content-container .top .left .nav-link li:nth-of-type(2) span{
	background: #5fc5dc;
}
.content-container .top .left .nav-link a{
	text-decoration: none;
	color: #353535;
	font-size: 18px;
	line-height: 25px;
}
.content-container .top .left .nav-link a:hover{
	color: #5dc5e3;
}
.content-container .top .left .button{
	width: 241px;
	height: 40px;
	margin-left: 30px;
	margin-top: 20px;
}
.content-container .top .left .button input{
    width: 100%;
    height: 40px;
    border: 0;
    outline: none;
    background: #f7b34d;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #f7b34d;
}
.content-container .top .content-right{
    float: right;
    width: 800px;
}
.content-container .top .content-right h3{
 	text-align: center;
 	margin-top: 44px;
 	font-size: 34px;
 	line-height: 40px;
}
.content-container .top .content-right img{
 	width: 190px;
 	border-radius: 100%;
}
.content-container .top .content-right ul{
 	overflow: hidden;
 	display: flex;
 	justify-content: space-around;
 	margin-top: 40px;
}

.content-container .top .content-right ul li{
 	list-style: none;
 	/*width: 245px;*/
 	margin-right: 20px;
 	float: left;
 	text-align: center;
}
.content-container .top .content-right ul li .werkt-text{
	text-align: left;
}
.content-container .top .content-right h4{
	font-size: 18px;
	line-height: 28px;
}
.content-container .top .content-right p{
	color:#484848;
	line-height: 22px;
	font-size: 16px;
}
.content-container .top .content-right form{
	margin-top: 40px;
	padding-bottom: 20px;
}
.content-container .top .content-right form label{
	display: block;
	font-size: 29px;
	color: #2e2e2e;
	margin-bottom: 10px;
	
}
.content-container .top .content-right form input:nth-of-type(1){
	width: 569px;
    height: 45px;
    padding-left: 15px;
    outline: none;
    margin-right: 20px;
}
.content-container .top .content-right form input:nth-of-type(2){
    height: 45px;
    outline: none;
    background: #f6b64c;
    outline: none;
    width: 200px;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
}